UPEMCorpSoap/WebContent/wsdl/UPEMCorpGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://buy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://buy" xmlns:intf="http://buy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://buy" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="connection">
    <complexType>
     <sequence>
      <element name="mail" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connectionResponse">
    <complexType>
     <sequence>
      <element name="connectionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="notifyUser">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
      <element name="model" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="notifyUserResponse">
    <complexType/>
   </element>
   <element name="getEmployees">
    <complexType/>
   </element>
   <element name="getEmployeesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getEmployeesReturn" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Employee">
    <sequence/>
   </complexType>
   <element name="getEmployee">
    <complexType>
     <sequence>
      <element name="employeeID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeResponse">
    <complexType>
     <sequence>
      <element name="getEmployeeReturn" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeesRequest">

      <wsdl:part element="impl:getEmployees" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="notifyUserResponse">

      <wsdl:part element="impl:notifyUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="notifyUserRequest">

      <wsdl:part element="impl:notifyUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeesResponse">

      <wsdl:part element="impl:getEmployeesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectionRequest">

      <wsdl:part element="impl:connection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectionResponse">

      <wsdl:part element="impl:connectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeRequest">

      <wsdl:part element="impl:getEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeResponse">

      <wsdl:part element="impl:getEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UPEMCorpGateway">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connection">

         <wsdl:input message="impl:connectionRequest" name="connectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:connectionResponse" name="connectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="notifyUser">

         <wsdl:input message="impl:notifyUserRequest" name="notifyUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:notifyUserResponse" name="notifyUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployees">

         <wsdl:input message="impl:getEmployeesRequest" name="getEmployeesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeesResponse" name="getEmployeesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployee">

         <wsdl:input message="impl:getEmployeeRequest" name="getEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeeResponse" name="getEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UPEMCorpGatewaySoapBinding" type="impl:UPEMCorpGateway">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="notifyUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="notifyUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="notifyUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployees">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UPEMCorpGatewayService">

      <wsdl:port binding="impl:UPEMCorpGatewaySoapBinding" name="UPEMCorpGateway">

         <wsdlsoap:address location="http://localhost:8080/UPEMCorpSoap/services/UPEMCorpGateway"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
